<template >
  <div class="flex justify-center">
    <div class="w-140   space-y-16">
      <form class="w-full  p-2" @submit.prevent="postdata">
        <h2 class="text-4xl font-bold py-8">Add a New Blog Post</h2>
        <div>
          <div class="space-y-2 mb-4">
            <label class="text-2xl font-bold" for="title">Blog Title</label
            ><br />
            <input
              type="text"
              id="title"
              v-model="blog.title"
              class="focus:outline-none w-full p-2 shadow-2xl bg-white"
              required
            />
          </div>
          <div class="space-y-2">
            <label for="content" class="text-2xl font-bold">Blog Content</label
            ><br />
            <textarea
              name="content"
              id="content"
              cols="30"
              rows="10"
              v-model="blog.content"
              class="focus:outline-none w-full shadow-2xl"
              required
            ></textarea>
          </div>
        </div>
        <div class="flex  space-x-4 my-4">
          <div>
            <label for="ninja" class="font-bold">Ninjas</label>
            <input
              type="checkbox"
              value="ninja"
              id="ninja"
              v-model="blog.categories"
            />
          </div>
          <div>
            <label for="wizads" class="font-bold">Wizards</label>
            <input
              type="checkbox"
              value="wizads"
              id="wizads"
              v-model="blog.categories"
            />
          </div>
          <div>
            <label for="mario" class="font-bold">Mario</label>
            <input
              type="checkbox"
              value="mario"
              id="mario"
              v-model="blog.categories"
            />
          </div>
          <div>
            <label for="cheese" class="font-bold">Cheese</label>
            <input
              type="checkbox"
              value="cheese"
              id="cheese"
              v-model="blog.categories"
            />
          </div>
        </div>
        <div class="space-y-2">
          <label for="author" class="text-2xl font-bold">Author</label><br />
          <select v-model="blog.author" required id="author" class="focus:outline-none w-full p-2 bg-white shadow-2xl">
            <option v-for="author in authors">{{ author }}</option>
          </select>
        </div>
        <div class="flex justify-end ">
        <button  class="focus:outline-none my-6 bg-blue-500 px-6 py-2 font-bold text-white rounded-sm shadow-2xl">
          Send
        </button>
        </div>
      </form>

      <div>
        <div v-if="posted == true">
          <div v-if="err">
            {{ err }}
          </div>

          <div class="space-y-6 p-2 border-2 border-gray-600 py-8 mb-16 overflow-scroll">
            <h2 class="text-4xl font-bold ">Preview</h2>
            <p><span class="text-2xl font-bold">Blog title: {{ blog.title }}</span></p>
            <div class="max-w-12xl h-auto text-2xl font-bold">Blog content: {{ blog.content }}</div>
            <ul class="text-2xl font-bold">
              Blog Categories:
              <li v-for="category in blog.categories">{{ category }}</li>
            </ul>
            <p><span class="text-2xl font-bold">Blog Ahutor: {{ blog.author }}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "index",

  data() {
    return {
      blog: {
        title: "",
        content: "",
        categories: [],
        author: "",
        id: 0,
      },
      authors: ["The Net Ninja", "The Angular Avenger", "The Vue Vindicator"],
      err: "",
      posted: false,
    };
  },
  methods: {
    postdata() {
      axios
        .post("https://jsonplaceholder.typicode.com/posts", {
          title: this.blog.title,
          body: this.blog.content,
          userId: this.idPlus(),
        })
        .then((data) => {
          // get body data
          console.log(data);
          this.posted = true;
        })
        .catch((error) => {
          console.log(error);
          this.err = "this is a error";
        });
    },
    idPlus() {
      return this.blog.id++;
    },
  },
};
</script>


