<template>
  <div>
      <div v-if="msgerror">{{msgerror}}</div>
    <div class="flow-root mt-6">
      <ul class="-my-5 divide-y divide-gray-200">
        <li
          v-for="post in posts"
          :key="post.id"
          class="py-5"
        >
          <div
            class="relative focus-within:ring-2 focus-within:ring-indigo-500"
          >
            <h3 class="text-sm font-semibold text-gray-800">
              <a href="#" class="hover:underline focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute inset-0" aria-hidden="true" />
                {{ post.title }}
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-600 line-clamp-2">
              {{ post.body }}
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="mt-6">
      <button
        @click="getPosts"
        class="
          w-full
          flex
          justify-center
          items-center
          px-4
          py-2
          border border-gray-300
          shadow-sm
          text-sm
          font-medium
          rounded-md
          text-gray-700
          bg-white
          hover:bg-gray-50
        "
      >
        View all
      </button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "PostList",
  data() {
    return {
      posts: [],
      msgerror: ""
    };
  },
  methods: {
    getPosts() {
      axios
        .get("https://jsonplaceholder.typicode.com/posts")
        .then((response) => {
          console.log(response.data);
          this.posts = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.msgerror = "ERROR Retreving DATA"
        });
    },
  },
};
</script>
