<template>
  <div>
    <div v-if="room">
      <h1 class="text-3xl">{{ room.name }}</h1>
        <div class="w-56">
      <img
            :src="generateImage(320, 680, room.picture[0].handle)"
            class="w-full h-full"
        />
        </div>
      <div>{{room.blog}}</div>
    </div>
    <div v-else>
         <span class="h-8 bg-gray-100 inline-block w-full"></span>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  layout: "default",
  apollo: {
    room: {
      query: gql`
        query ($slug: String!) {
          room(where: { slug: $slug }) {
            id
            name
            blog
            slug
              picture {
              handle
            }
          }
        }
      `,
      variables() {
        return {
          slug: this.$route.params.slug,
        };
      },
    },
  },
  methods: {
    generateImage(width, height, handle) {
      return `https://media.graphcms.com/resize=w:${width},h:${height},fit:crop/compress/${handle}`;
    },
  },
};
</script>


