<template>
  <div>
    <div v-for="room in rooms" :key="room.id">
      <h1 class="text-3xl">{{ room.name }}</h1>
      <span>--------------</span>
      <div class="w-56">
        <nuxt-link :to="`/movies/${room.slug}`" class="w-full h-full"
          ><img
            :src="generateImage(320, 680, room.picture[0].handle)"
            class="w-full h-full"
        /></nuxt-link>
      </div>
    </div>
  </div>
</template>
<script>
import gql from "graphql-tag";
export default {
  layout: "default",
  apollo: {
    rooms: {
      query: gql`
        query {
          rooms {
            id
            name
            blog
            slug
            picture {
              handle
            }
          }
        }
      `,
    },
  },
  methods: {
    generateImage(width, height, handle) {
      return `https://media.graphcms.com/resize=w:${width},h:${height},fit:crop/compress/${handle}`;
    },
  },
};
</script>


